* {
  padding: 0px;
  margin: 0px;
  transition: all 0.3s;
  box-sizing: border-box;
}
a {
  visibility: none;
}
nav {
  position: relative;
  width: 100vw;
  margin-bottom: 10rem;
}

.hiden {
  display: none;
  font-size: 1.5rem;
  text-decoration: underline;
}

body {
  background-color: #ffbbcc;
}

.topnav {
  background: #ffcccc;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.422);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  padding-bottom: 20px;
  height: 5rem;
  position: fixed;
  width: 100vw;
  z-index: 4;
}

.topnav h1 {
  text-align: center;
  color: #900c3f;
}

#lips,
#palettes,
#eye,
#bags,
#make-up-sets {
  border-bottom: 1rem dotted #240a34;
}

.container {
  padding-top: 5rem;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffbbcc;
}

.container h1 {
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 4rem;
  color: #ffeecc;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10rem;
}

.container ul li {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  list-style-type: none;
  margin: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-shadow: 4px 0px 40px #240a34;
}

.container ul li span {
  font-size: 5rem;
  color: #ac59a0;
  text-transform: capitalize;
  background-color: #ffc4ff;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 100%;
  padding-left: 1rem;
}

.container ul .card1,
.container ul .card2,
.container ul .card3,
.container ul .card5,
.container ul .card4 {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  transition: all 0.2s;
}

.container ul .card1:hover,
.container ul .card2:hover,
.container ul .card3:hover,
.container ul .card5:hover,
.container ul .card4:hover {
  filter: grayscale(10%);
  -webkit-filter: grayscale(10%);
  transition: all 0.2s;
  box-shadow: 0px 5px 50px #240a34;
}

.container ul .card1 {
  background-image: url("./images/lip-make-up.webp");
  background-color: red;
}
.container ul .card2 {
  background-image: url("./images/powder.webp");
  background-color: green;
}

.container ul .card3 {
  background-image: url("./images/eye-make-up.jpeg");
}

.container ul .card4 {
  background-image: url("./images/make-up-set.webp");
}

.container ul .card5 {
  background-image: url("./images/hermes-cover.webp");
}

.hiden-text {
  display: none;
}

@media (max-width: 860px) {
  section .preview-card {
    margin-bottom: 5rem;
  }

  .container h1 {
    font-size: 4rem;
  }
  .container ul li {
    width: 20rem;
    height: 20rem;
  }
  .container ul li span {
    font-size: 2.5rem;
  }
  .container ul .card1,
  .container ul .card2,
  .container ul .card3,
  .container ul .card5,
  .container ul .card4 {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: all 0.2s;
  }
  .container ul li {
    padding: 0px;
    margin: 1rem 0rem;
  }
  .container ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
