* {
  padding: 0px;
  margin: 0px;
  transition: all 0.3s;
  box-sizing: border-box;
}
a {
  visibility: none;
}
nav {
  position: relative;
  width: 100vw;
  margin-bottom: 10rem;
}

.hiden {
  display: none;
  font-size: 1.5rem;
  text-decoration: underline;
}

body {
  background-color: #ffbbcc;
}

.topnav {
  background: #ffcccc;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.422);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  padding-bottom: 20px;
  height: 5rem;
  position: fixed;
  width: 100vw;
}

.topnav h1 {
  text-align: center;
  color: #900c3f;
}

.topnav button {
  position: relative;
  top: 20px;
  left: 10px;
  background-color: initial;
  border: none;
}

.topnav button img {
  position: relative;
  max-width: 30px;
  max-height: 30px;
}

.container {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(5, 0, 0);
}

.container .text {
  color: #ffe5b4;
  font-weight: 900;
  transition: all 0.2s;
  font-size: 4rem;
}

.container .make-up {
  width: 50vw;
  height: 100vh;
}

.container .make-up::before {
  content: " ";
  display: block;
  background: url("./images/make-up.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.container .make-up:hover {
  background-color: rgba(255, 255, 255, 0.9);
  width: 60vw;
}

.container .acc:hover {
  background-color: rgba(255, 255, 255, 0.9);
  width: 60vw;
}

.container .make-up:hover .text {
  color: #900c3f;
  transition: all 0.2s;
}

.container .make-up:hover .text .hiden {
  display: block;
  color: #891652;
  transition: all 0.2s;
}

.container .acc:hover .text .hiden {
  display: block;
  color: #891652;
  transition: all 0.2s;
}

.container .acc:hover .text {
  color: #900c3f;
  transition: all 0.2s;
}

.container .acc {
  width: 50vw;
  height: 100vh;
}

.container .acc::before {
  content: " ";
  display: block;
  background: url("./images/acc.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.make-up > .center {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.acc > .center {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.hiden-text {
  display: none;
}

@media (max-width: 860px) {
  .container {
    display: none;
  }
  header {
    padding-bottom: 10rem;
  }
  .hiden-text {
    display: block;
    text-align: center;
    color: #900c3f;
    padding-bottom: 4rem;
  }
}
